/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Body */

body {
    background-color: #E6EAED;
}

/* Header */

.page-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    line-height: 5rem;
    padding: 10px 20px;
}

.align-vertical {
    vertical-align: middle;
}

.title-image {
    width: 100px;
}

.title {
    font-weight: bolder;
    font-size: 5rem;
}

/* Container */

.main-container {
    background-color: white;
    width: 80%;
    margin: 80px auto;
}

.button-container {
    padding-left: 30px;
    border-bottom: 2px solid #E6EAED;
}

.task-container {
    padding-left: 30px;
}

/* Button */

.button-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.standard-button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}

.task-button {
    background-color: rgb(73, 172, 238);
    color: white;
}

.section-button {
    background-color: transparent;
    color: rgb(148, 148, 148);
}